<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
       <header>
            <section id="header-sec">
                <div>
                    <nav class="nav">
                        <a href="#hero-section">home</a>
                        <a href="#about">about</a>
                        <a href="#footer">contact us</a>
                    </nav>
                </div>
            </section>
            <hr>
       </header> 
       
       <main>
            <section id="hero-section">
                <div class="image-grid">
                    <div class="img-block block-one"><p>First image</p></div>
                    <div class="img-block block-two"><p>Second image</p></div>
                    <div class="img-block block-three"><p>Third image</p></div>
                    <div class="img-block block-four"><p>Fourth image</p></div>
                    <div class="img-block block-five"><p>Fifth image/logo</p></div>
                    <div class="img-block block-six"><p>Sixth image</p></div>
                    <div class="img-block block-seven"><p>Seventh image</p></div>
                    <div class="img-block block-eight"><p>Eighth image</p></div>
                    <div class="img-block block-nine"><p>Ninth image</p></div>
                </div>
                <div class="text-div">
                    <h2 class="text-one">{{data["text-one"]}}</h2>
                    <a href="#contact" class="callTo-action">contact us</a>
                    <h3 class="text-two">{{data["text-two"]}}</h3>
                </div>
           </section>
       </main>
       
       <hr id="hr">

       <section id="about">
            <div class="grid-abt">
                <div class="div-about title-about">
                    <h2 class="abt-title">{{data["abt-title"]}}</h2>
                </div>
                <div class="div-about decoration-about">
                    <div class="dec-div"></div>
                    <div class="dec-div"></div>
                    <div class="dec-div"></div>
                    <div class="dec-div"></div>
                    <div class="dec-div"></div>
                </div>
                <div class="div-about content-about">
                    <p class="abt-content">{{data["abt-content"]}}</p>
                </div>
            </div>
        </section>

        <footer id="footer">
            <section class="footer-sec">
                <div class="footer-div-one">
                    <p class="footer-slogan">{{data["footer-slogan"]}}</p>
                    <p class="footer-email">{{data["footer-email"]}}</p>
                    <p class="footer-link">{{data["footer-link"]}}</p>

                </div>
                <div class="footer-div-two">
                    <p>Legal Notice: This section is dedicated to your mandatory legal and business information. SiteBase is a technical service provider and is not responsible for the legal compliance, accuracy, or validity of the content provided by the user. By using this template, you acknowledge that ensuring your website meets all local legal requirements is your sole responsibility. This section is locked to preserve the necessary structure for professional transparency.</p>
                </div>
            </section>
        </footer>
    </body>
</html>